@media (prefers-reduced-motion: no preference){
    * {
        scroll-behavior: smooth;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
}

.center {
    margin: auto;
    margin: auto;
}